.about {
  height: 40vh;
  position: absolute;
  top: 60vh;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 75%);
  z-index: 1;
}

.aboutTitle {
  /*font-family: "Josefin Slab", serif;*/
  padding-top: 1vh;
}

.aboutText {
  display: grid;
  grid-template-columns: 29vw 2vw 29vw;
  margin-left: 20vw;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.aboutTextLeft {
  text-align: right;
}

.aboutTextRight {
  text-align: left;
}

.aboutCenter {
  border-left: 1px solid white;
  margin-left: 1vw;
}
