.header {
  height: 75vh;
  max-height: 75vw;
  width: 100vw;
  background-image: url(../media/bgImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 90%);
}

.headerLink {
  position: absolute;
  height: 10rem;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
  overflow: hidden;
  mix-blend-mode: multiply;
}

.headerLogo {
  height: 250%;
  margin-top: -6rem;
}

.headList {
  list-style: none;
}

.headListItem {
  position: static;
  display: inline-block;
  margin: 10rem 3rem 0 3rem;
  font-size: 1.2;
  max-width: 100%;
}

.headListTitle {
  background-color: transparent;
  color: white;
}

.headListDropdown {
  position: absolute;
  background-color: #e6c6a3;
  color: black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2.5vw;
  max-height: 0;
  width: 50vw;
  left: 0;
  padding: 0 22vw 0 28vw;
  overflow: hidden;
  transition: max-height 0.6s ease-out;
  z-index: 10;
}

.headListItem:hover .headListDropdown {
  max-height: 50vh;
  transition: max-height 0.3s ease-in;
}

.headListItem:hover .headListTitle {
  color: #e6c6a3;
}

.dropdownList {
  list-style: none;
  text-align: left;
  position: relative;
  margin: 2rem 0 2rem 0;
  padding: 0;
  border: 1px solid black;
}

.listMain {
  font-size: 1.2rem;
  padding-bottom: 1rem;
}

.dropdownList li {
  margin: 1rem 0 1rem 0;
}

/* Mobile menu */

/* Dynamic Resolutions */

@media only screen and (max-width: 1200px) {
  .headListDropdown {
    padding: 0 5vw 0 5vw;
    width: 100vw;
  }
}
