body {
  overflow: auto;
}

.products {
  margin: 5rem 10vw 0 10vw;
  height: 80vh;
  max-height: 80vw;
  width: 80vw;
}

.productsHead {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.productsHead h2 {
  font-size: 5rem;
  margin-top: 10rem;
  color: white;
  text-shadow: 5px 5px 1rem rgba(0, 0, 0, 0.5);
}

.productsHead button {
  color: white;
  background-color: transparent;
  height: 4rem;
  width: 10rem;
  margin-top: 5rem;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 1rem;
  cursor: pointer;
}

.productsHead button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.productGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.5%;
  height: 100%;
  width: 100%;
}

.productGridTiles {
  height: 100%;
  max-height: 80vh;
}

.productTitle {
  position: absolute;
  margin: 2% 0 0 2%;
  color: white;
  text-shadow: 5px 5px 1rem rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  font-weight: 700;
}

.productImage {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  object-fit: cover;
  border-radius: 3px;
}

.productInformation {
  visibility: hidden;
  transition: 1s ease;
}

.productInformation p {
  position: absolute;
  color: white;
  top: 80%;
  left: 10%;
}

.productInformation button {
  position: absolute;
  color: white;
  background-color: transparent;
  top: 80%;
  left: 70%;
  height: 3rem;
  width: 7rem;
  border: 1px solid white;
  border-radius: 3px;
}

/* About */

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  margin: 5rem 10vw 0 10vw;
  width: 80vw;
}

.aboutText {
  text-align: start;
  padding: 0 0 2rem 0;
}

.aboutText h3 {
  margin: 0;
}

.aboutLink {
  text-decoration: none;
  border-bottom: 1px solid black;
  color: black;
}

.aboutLink:hover {
  border: none;
}

.aboutImg {
  height: 20vw;
  min-height: 15vh;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* Events */

.events {
  height: 75vh;
  max-height: 75vw;
  width: 100%;
  margin: 5rem 0 0 0;
  background-image: url(../media/bgImg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
  color: white;
}

.eventGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10vw;
  height: 100%;
  width: 80vw;
  margin: 0 10vw 0 10vw;
}

.eventTile {
  position: relative;
  text-align: center;
  height: 75%;
  max-height: 40vw;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 15;
}

.eventImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 9;
}

.eventImageOverlay {
  position: absolute;
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  height: 25%;
  width: 100%;
  top: 75%;
  z-index: 10;
}

.eventName {
  margin: 12.5% 0 0 0;
  font-size: 1.75rem;
}

.socialMediaLink {
  display: inline-block;
  padding: 1rem;
  border-radius: 50%;
  margin: 10% 5% 0 5%;
  cursor: pointer;
  height: 2rem;
  width: 2rem;
}

.socialMediaLink:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.socialMediaIcon {
  height: 100%;
  width: 100%;
}

/* Dynamic Resolutions */

@media only screen and (max-width: 1200px) {
  .products,
  .about {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .eventGrid {
    gap: 5vw;
    width: 90vw;
    margin: 0 5vw 0 5vw;
  }

  .eventImageOverlay {
    height: 33%;
    top: 67%;
  }

  .socialMediaLink {
    margin: 10% 0 0 0;
  }
}

@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 425px) {
}
