body {
  overflow: auto;
}

main {
  margin: 0 10% 0 10%;
  width: 80%;
}

.products {
  margin: 2rem 0 0 0;
}

.productLinks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2%;
}

.productDiv {
  position: relative;
  transition: 1s ease;
  height: 35rem;
}

.productDiv:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.productDiv:hover .productInformation {
  visibility: visible;
}

.productLinks h3 {
  position: absolute;
  font-size: 1.5rem;
  color: red;
  top: 0%;
  left: 6%;
}

.productImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3px;
}

.productInformation {
  visibility: hidden;
  transition: 1s ease;
}

.productInformation p {
  position: absolute;
  color: white;
  top: 80%;
  left: 10%;
}

.productInformation button {
  position: absolute;
  color: white;
  background-color: transparent;
  top: 80%;
  left: 70%;
  height: 3rem;
  width: 7rem;
  border: 1px solid white;
  border-radius: 3px;
}

/* About */

.about {
  margin: 2rem 0 0 0;
}

.aboutTitle {
  /*font-family: "Josefin Slab", serif;*/
  margin: 0;
}

.aboutText {
  display: grid;
  grid-template-columns: 49% 2% 49%;
  gap: 1rem;
  margin: 2rem 0 0 0;
}

.aboutTextLeft {
  text-align: right;
}

.aboutTextRight {
  text-align: left;
}

.aboutCenter {
  border-left: 1px solid black;
  margin-left: 50%;
}

/* Events */

.events {
  height: 50rem;
  width: 100vw;
  margin: 2rem 0 0 -10vw;
  background-image: url(../media/bgImg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 10%, 100% 90%, 0% 100%);
  color: white;
}

.eventsTitle {
  position: relative;
  padding-top: 7rem;
  font-size: 3rem;
  font-family: "Josefin Slab", serif;
}

.eventList {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 1rem 15vw 0 15vw;
  grid-template-rows: 10rem;
}

.eventTile {
  text-align: center;
}

.eventImage {
  width: 15rem;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.eventName {
}

/* Socials */

.socialsTitle {
  font-family: "Josefin Slab", serif;
}
