@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400&display=swap");

.App {
  text-align: center;
  margin-top: -2rem;
}

.appMain {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: auto;
  column-gap: 5%;
  row-gap: 5rem;
}

.appHeader {
  grid-column: 1 / 6;
  grid-row: 1;
}

.appAbout {
  grid-column: 1 / 6;
  grid-row: 2;
}

.appProductsOne {
  grid-column: 1 / 6;
  grid-row: 3;
}

.appProductsTwo {
  grid-column: 1 / 6;
  grid-row: 5;
}

.appEvents {
  grid-column: 1 / 6;
  grid-row: 4;
}

.appSocials {
  grid-column: 1 / 6;
  grid-row: 6;
}

.appFooter {
  grid-column: 1 / 6;
  grid-row: 7;
}
