@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.App {
  text-align: center;
  margin-top: -2rem;
  font-family: "Raleway", sans-serif;
}

html {
  overflow: overlay;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8);
}
